body{
    background-color: rgb(67, 58, 58);

}

.rm{
    margin-left: 115px;
    width: 300px;
    height: 300px;
}

.jin{
    margin-left: 115px;
    width: 300px;
    height: 300px;
}

.suga{
    margin-left: 115px;
    width: 300px;
    height: 300px;
}

.sun{
    margin-left: 115px;
    width: 300px;
    height: 300px;
}

.jima{
    margin-left: 115px;
    width: 300px;
    height: 300px;
}

.v{
    margin-left: 115px;
    width: 300px;
    height: 300px;
}

.jk{
    margin-right: 80px;
    width: 300px;
    height: 300px;
}

