body{
background: url(img/лэк\ лебедь.jpeg);  
}


.small{
    margin-left: 115px;
    width: 340px;
    height: 340px;
}

.mid{
    margin-left: 115px;
    width: 340px;
    height: 340px;
}

.big{
    margin-left: 115px;
    width: 340px;
    height: 340px;
}

